.board {
  display: grid;
  grid-template-columns: 1fr 250px;
  max-width: 600px;
  margin: 0 auto;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button.play-button {
  background: #25a225;
  color: #fff;
  padding: 0.5rem 1rem;
  font: inherit;
  box-shadow: 5px 5px 0 0 black;

  &:hover {
    box-shadow: 0 0 0 0 black;
  }
}

.canvas-element {
  border: 1px solid black;
}
